In [54]:
# Import Modules
import pandas as pd

 # DataFrame from Series

In [55]:
# Create two series
opening_prices = pd.Series(
    {"MSFT": 160.32, "AAPL": 75.11, "TWTR": 32.52}, name="Opening Price"
)

closing_prices = pd.Series(
    {"MSFT": 158.23, "AAPL": 77.65, "TWTR": 33.08}, name="Closing Price"
)

In [56]:
# Create DataFrame
prices_df = pd.DataFrame([opening_prices, closing_prices])
# Show DataFrame
prices_df

                 MSFT   AAPL   TWTR
Opening Price  160.32  75.11  32.52
Closing Price  158.23  77.65  33.08

 ## Transposition

In [57]:
# Transpose prices_df
prices_df.T

      Opening Price  Closing Price
MSFT         160.32         158.23
AAPL          75.11          77.65
TWTR          32.52          33.08

In [58]:
# Save T output to prices_df
prices_df = prices_df.T
# Show DataFrame
prices_df

      Opening Price  Closing Price
MSFT         160.32         158.23
AAPL          75.11          77.65
TWTR          32.52          33.08

 ## Accessing Columns

In [59]:
# Access the Opening Price column
prices_df["Opening Price"]

MSFT    160.32
AAPL     75.11
TWTR     32.52
Name: Opening Price, dtype: float64

In [60]:
# Check type of column
type(prices_df["Opening Price"])

pandas.core.series.Series

In [61]:
# Retrieve AAPL opening price by location
prices_df["Opening Price"][1]

75.11

In [62]:
# Retrieve AAPL opening price by key
prices_df["Opening Price"]["AAPL"]

75.11

 ## Accessing Rows

In [63]:
# Retrieve the MSFT row
prices_df.loc["MSFT"]

Opening Price    160.32
Closing Price    158.23
Name: MSFT, dtype: float64

In [64]:
# Check type
type(prices_df.loc["MSFT"])

pandas.core.series.Series

In [66]:
# Retrieve MSFT closing price by key
prices_df.loc["MSFT"]["Closing Price"]

158.23

In [68]:
# Retrieve MSFT closing price by location
prices_df.loc["MSFT"][1]

158.23

 # DataFrame from Dictionary

In [71]:
# Dictionary of temperature values
daily_temperature_range = {
    "Monday": [50, 75],
    "Tuesday": [52, 73],
    "Wednesday": [53, 73],
    "Thursday": [55, 80],
    "Friday": [56, 79],
    "Saturday": [55, 81],
    "Sunday": [55, 80],
}

In [73]:
# Create DataFrame
temperature_df = pd.DataFrame(data=daily_temperature_range, index=["Low", "High"])
# Show DataFrame
temperature_df

      Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
Low       50       52         53        55      56        55      55
High      75       73         73        80      79        81      80

In [74]:
# DataFrame transposition
temperature_df = temperature_df.T
# Show the DataFrame
temperature_df

           Low  High
Monday      50    75
Tuesday     52    73
Wednesday   53    73
Thursday    55    80
Friday      56    79
Saturday    55    81
Sunday      55    80

In [77]:
# Check type
type(temperature_df["Low"])

pandas.core.series.Series

In [80]:
# Check type
temperature_df.loc["Monday"]

Low     50
High    75
Name: Monday, dtype: int64