In [2]:
import pandas as pd
from pathlib import Path

# Reading a CSV file as a Pandas DataFrame

### Step 1: Create a path to the file

In [3]:
# Detail the relative path to the CSV file being imported
csvpath = Path("../Resources/sales.csv")

### Step 2: Read the CSV into a DataFrame using Pandas

In [4]:
# Use the Pandas read_csv function, specifiying the relative Path
sales_dataframe = pd.read_csv(csvpath)

## Step 3: Review the DataFrame

In [5]:
# Review the first five rows of the DataFrame with the head function
# The nubmer of rows viewed can be altered
sales_dataframe.head()

,FullName,Email,Address,Zip,CreditCard,SalePrice
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

In [6]:
# Review the last five rows of the DataFrame with the head function
# The nubmer of rows viewed can be altered
sales_dataframe.tail()

,FullName,Email,Address,Zip,CreditCard,SalePrice
95,Basil Rios,holloo1814@yahoo.com,605 Sloat Terrace,8108,5581 7245 8451 9384,937.14
96,Hipolito Rios,calefacient2049@gmail.com,1248 Fountain Boulevard,37077,2333 0264 5343 2022,645.82
97,Clayton Robertson,coner2015@live.com,230 Paper Parkway,57242,2414 3939 6501 2607,128.73
98,Tony Chandler,sexillion2061@live.com,118 Flood Plantation,70135,5581 8059 1883 1841,820.00
99,Cuc Mcgowan,dispatched1820@gmail.com,87 Louisiana Grove,70959,2678 4140 5531 3894,764.69

In [1]:
# Review both the head and the tail by incorporating the display function

AttributeError: 'function' object has no attribute 'sales_dataframe'

In [ ]:
# Generate a concise summary of the DataFrame with the info function
# This includes number of columns, the name of the columns, the count of each column, and data type

In [ ]:
# Generate summary statistics of the DataFrame with the describe function
# This will only generate information for numeric columns
# This contains information like count, average, standard deviation, min and max values

- - -

# Reading a CSV with no Header

In [ ]:
# Without a header in the CSV, Pandas will use the first row as the header
csvpath = Path("../Resources/sales_no_header")

In [ ]:
# Reading in the CSV file accouting for the lack of a header row
sales_data

In [ ]:
# Rewrite the column names

---

# Reading in a CSV file and setting the DateTime Index

In [ ]:
# Reading in the CSV file without setting the Datetime Index

# Review the DataFrame

In [ ]:
# Reading in the CSV file and setting the Datetime Index

# Review the DataFrame